/*Screen Styles*/

.page {
	background-color: #081A40;
}

Label {
	text-align: center;
}

.subtitle {
	color: #EA9D97; /*pink*/
	font-weight: bold;
	font-family: serif;
}

/***********************/
/*Info Box Formatting*/
/**********************/


.infoBox {
	width: 80%;
	background-color: white;
	border-radius: 10%;
}

.inBox {
	margin: 10%;
	margin-bottom: 5%;
}


.message {
	width: 70%;
	font-size: 10%;
	text-align: left;
	line-height: 2;
}

/***********************/
/*Calendar Formatting*/
/***********************/

#calendar {
	width: 80%;
}

.monthTitle {
	color: white;
	font-family: serif;
	font-size: 20%;
	padding: 15%;
}

.dayHeaders {
	color: #EA9D97; /*pink*/
	font-weight: bold;
	font-family: serif;
	font-size: 15%;
	border-bottom-width: 1px;
	border-bottom-color: lightblue;
}

.arrows {
	color: #EA9D97; /*pink*/
	font-size: 15%;
}

.erase {
	background-color: #081A40;
}

.cell {
	
	font-size: 10%;
	padding-top: 25%;
	padding-bottom: 25%;
	border-bottom-width: 1px;
	border-bottom-color: lightblue;
}

.inactive {
	color: gray;
}

.active {
	color: white;
}

.circle { 
	border-width: 2px;
	border-color: white;
	/*border-radius: 50%;*/
}

.period {
	background-color: #EA9D97;
}


.label {
	color: gray;
	font-size: 10%; 
	margin-left: 20%;
}

.ovulation {
	background-color: lightblue;
}



/***********************/
/*Countdown Timer*/
/***********************/

.outBox {
	margin: 3%;
	margin-bottom: 2%;
}

.message-two {
	font-size: 12%;
	width: 60%;
	color: lightblue;
	line-height: 2;
}

.countdown {
	font-size: 40%;
	width: 80%;
	font-family: serif;
	color: white;
	padding: 25%;
}

.settingsBtn {
	border-width: 3px;
	color: white;
	border-color: white;
	font-size: 11%;
	width: 30%;
	padding: 10%;
	border-radius: 30%;
	margin-bottom: 3%;
}


/***********************/
/*Quote*/
/***********************/


.quote {
	font-weight: bold;
	font-style: italic;
	padding: 8%;
	width: 80%;
}

.author {
	font-family: serif;
	color: #EA9D97;
	text-transform: uppercase;
}


